/* image background for my form */
body {
    background-image: linear-gradient(rgba(0,0,50,0.5), rgba(0,0,50,0.5)), url("image.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

/* Center login and registration form */
.login-box {
    max-width: 700px;
    margin: 150px auto;
}

/* Left = Login, Right = Register */
.login-left {
    background: rgba(211, 211, 211, 0.6);
    padding: 30px;
    border-radius: 10px 0 0 10px;
}

.login-right {
    background: #fff;
    padding: 30px;
    border-radius: 0 10px 10px 0;
}

/* Override Bootstrap input color */
.form-control {
    background-color: transparent !important;
    border: 1px solid #333;
}

/* Buttons & links */
.btn {
    width: 100%;
    border-radius: 5px;
}

a {
    color: #ffffff !important;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

a:hover {
    color: #ffcc00 !important;
}

/* Headin*
